@import "primeicons/primeicons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.p-menubar{
  margin: 0 auto;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border: 0px none !important;
  background: #00386d !important;
}

